<!DOCTYPE html>
<html>
<head>
  <title>CkeditorBoldBug</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script>
  var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>
<%= javascript_include_tag :application %>
<%= yield :javascript %>

</body>
</html>
